<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Gruppo|Press+Start+2P|Bangers|Michroma" rel="stylesheet">
    <title>@ViewBag.Title - Champ Challenge</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
                @Html.ActionLink("Challenge of Champions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="spacerTwo">s</li>
                        <li class="spacerTwo">s</li>
                        <li class="spacer">Characters</li>
                        <li class="navButton" id="navCharacter"><a href="@Url.Action("Index", "Character")"></a></li>
                        <li class="spacerTwo">s</li>
                        <li class="spacer">Items</li>
                        <li class="navButton" id="navItem"><a href="@Url.Action("Index", "Item")"></a></li>
                        <li class="spacerTwo">s</li>
                        <li class="spacerTwo">s</li>
                        <li class="spacer">One on One</li>
                        <li class="spacerTwo">s</li>
                        <li class="navButton" id="navBattles"><a href="@Url.Action("Index", "Battle")"></a></li>
                        <li class="spacerTwo">s</li>
                        <li class="spacerTwo">s</li>
                    }
                    <li class="spacer">Bracket</li>
                    <li class="spacerTwo">s</li>
                    <li class="spacerTwo">s</li>
                    <li class="navButton" id="navBracket"><a href="@Url.Action("Index", "Bracket")"></a></li>
                    <li class="spacerTwo">s</li>
                    <li class="spacerTwo">s</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<div class="jumbotron">
            <h1>Filler Ex</h1>
        </div>*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Challenge of Champions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
