@model CharacterThrowdown.Models.BracketEdit

@{
    ViewBag.Title = "Edit";
}
<br />
<br />
<br />
<div class="bracketEdit">
    <h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BracketEdit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BracketId)


        <div class="form-group">
            @Html.LabelFor(model => model.TournamentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TournamentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TournamentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstCharacter.CharacterName, "Character 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FirstCharacterId", null,"--Please Select Character--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstCharacterId, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>vs</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.SecondCharacter.CharacterName, "Character 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SecondCharacterId", null, "--Please Select Character--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SecondCharacterId, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.ThirdCharacter.CharacterName, "Character 3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ThirdCharacterId", null, "--Please Select Character--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ThirdCharacterId, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>vs</h5>

        <div class="form-group">
            @Html.LabelFor(model => model.FourthCharacter.CharacterName, "Character 4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FourthCharacterId", null, "--Please Select Character--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FourthCharacterId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FifthCharacter.CharacterName, "Character 5", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FifthCharacterId", null, "--Please Select Character--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FifthCharacterId, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>vs</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.SixthCharacter.CharacterName, "Character 6", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SixthCharacterId", null, "--Please Select Character--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SixthCharacterId, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.SeventhCharacter.CharacterName, "Character 7", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SeventhCharacterId", null, "--Please Select Character--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SeventhCharacterId, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>vs</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.EighthCharacter.CharacterName, "Character 8", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EighthCharacterId", null, "--Please Select Character--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EighthCharacterId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
