@model CharacterThrowdown.Models.BattleDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>Are you sure you want to delete this battle?</h4>
    <hr />
    <dl class="dl-horizontal col-lg-4">
        <dt>
            @Html.DisplayNameFor(model => model.BattleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattleId)
        </dd>
    </dl>
    <dl class="dl-horizontal col-lg-4">

        <dt>
            @Html.DisplayNameFor(model => model.BattleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattleName)
        </dd>
    </dl>
    <dl class="dl-horizontal col-lg-4">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
    <br />
    </dl>
    <hr />
    <dl class="dl-horizontal col-lg-4">

        <dt>
            @Html.DisplayName("Character ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstCharacterId)
        </dd>

        <dt>
            @Html.DisplayName("Character 1")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstCharacter.CharacterName)
        </dd>

        <dt>
            @Html.DisplayName("Character 1 Weapon")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstItem.ItemName)
        </dd>

        <br />
        <dt>
            @Html.DisplayName("Character 2 ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondCharacterId)
        </dd>

        <dt>
            @Html.DisplayName("Character 2")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondCharacter.CharacterName)
        </dd>

        <dt>
            @Html.DisplayName("Character 2 Weapon")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondItem.ItemName)
        </dd>
    </dl>
    <dl class="dl-horizontal col-lg-8">
        <dt>
            @Html.DisplayName("Winner ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerCharacterId)
        </dd>
        <dt>
            @Html.DisplayName("Bout Winner")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerCharacter.CharacterName)
        </dd>
    </dl>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
