@model CharacterThrowdown.Models.BattleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Battle Result</h2>

<div>
    <h4>And the winner is...</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BattleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <br />
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.FirstCharacterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstCharacterId)
        </dd>

        <dt>
            @Html.DisplayName("Character 1")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstCharacter.CharacterName)
        </dd>

        <dt>
            @Html.DisplayName("Character 1 Weapon")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstItem.ItemName)
        </dd>

        <br />
        <dt>
            @Html.DisplayNameFor(model => model.SecondCharacterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondCharacterId)
        </dd>

        <dt>
            @Html.DisplayName("Character 2")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondCharacter.CharacterName)
        </dd>

        <dt>
            @Html.DisplayName("Character 2 Weapon")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondItem.ItemName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.WinnerCharacterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerCharacterId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
